<html>
  <head>
    {% load static %}
    <title>Log In</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body>
    <header>
      <a href="{% url 'index' %}"><div class="logo">Q n A</div></a>
      <div class="log">
        <a href="{% url 'signup' %}"
          ><button class="log-btn">
            <i class="fa fa-user-plus"></i> Sign Up
          </button></a
        >
      </div>
    </header>

    <div class="form-container">
      <div class="left-form">
        <div class="cont-form">
          <img src="../static/h.png" alt="" />
          <p>
            Login to see full features where you can add your questions and you
            can answer questions you can post your own blog isn't it great.<br />Facing
            any problems or have any queries please contact us.
          </p>
        </div>
      </div>
      <div class="right-form">
        <div class="login-txt">Log In</div>
        <form class="for" method="post">
          {% csrf_token %}
          <label class="custom-field one">
            <input type="text" name="uname" required />
            <span class="placeholder">User name</span>
          </label>
          <label class="custom-field one">
            <input type="password" name="pwd" required />
            <span class="placeholder">password</span>
          </label>
          <input class="inp" type="submit" value="Login" />
        </form>
      </div>
    </div>

    {% if error == "no" %}
    <script>
      window.location = ('{% url 'admin_home' %}')
    </script>
    {% endif %} {% if error == "not" %}
    <script>
      window.location = ('{% url 'user_home' %}')
    </script>
    {% endif %} {% if error == "yes" %}
    <script>
      alert("Username Passowrd Not Match")
      window.location = ('{% url 'admin_home' %}')
    </script>
    {% endif %}

  </body>
</html>
